
*{
    margin: 0px;
    padding: 0px;
    font-size: 60%;
}


.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#activeUsers{

    width: 15%;
    height: 40%;
    margin-left: 2rem;
    overflow-y: auto;
    box-shadow: 0.2rem 0.2rem 0.9rem rgb(194, 178, 178);
    border-radius: 2rem;
}

#activeUsers .text{

    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}

#activeUsers .usernames{

    font-size: 2rem;
    margin: 1rem 3rem;
    color: whitesmoke;
    background-color: #2a4c57;
    border-radius: 1rem;
    padding: 1rem;
    cursor:pointer;
}

#activeUsers .usernames:hover{
    background-color: #223a42;
}

#activeUsers .othertext{
    font-size: 1.3rem;
    padding: 1rem 0px;
    color: lightcoral;
}

.chat-room{

    margin-left: 2rem;
    box-shadow: 0.2rem 0.2rem 0.9rem rgb(194, 178, 178);
    padding: 5rem;
    border-radius: 3rem;
}


#message-box{

    width: 35vw;
    height: 70vh;
    padding: 1rem;
    overflow-y: auto;
    box-shadow: 0.3rem 0.3rem 0.9rem rgb(194, 178, 178);
    border-radius: 2rem;
}


.write-message{
    margin-top: 1.5rem;
}

#message{
    margin-left: 1rem;
    padding: 0.5rem;
    width: 25vw;
    font-size: 2rem;
    border: none;
    outline: none;
    border-bottom: 0.2rem solid black;
}

#message:focus{
    border-bottom: 0.3rem solid indianred;
}

#send{
    margin-left: 1rem;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: indigo;
    color: whitesmoke;
}

#send:hover{
    background-color: rgb(106, 15, 172);
}


.chat-message{

    background-color: rgb(196 234 245);
    width: 50%;
    padding: 2rem;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 2rem;
    box-shadow: 0.7rem 0.7rem 1rem rgb(165, 152, 152);
}

.chat-message .username{
    font-size: 2rem;
    color: #ed461f;
}

.chat-message .time{
    font-size: 1.5rem;
}

.chat-message .user-message{
    font-size: 2rem;
}



@media only screen and (max-width:1500px) {
    
    #message-box{
        width: 50vw;
        height: 50vh;
    }   
    #activeUsers{
        width: 25%;
    }
    #message{
        width: 40vw;
    }

    @media only screen and (max-width:1000px) {
    
        #message-box{
            width: 50vw;
        }   
        #activeUsers{
            width: 25%;
        }
        #message{
            width: 40vw;
        }
    }
}


@media only screen and (max-height:800px) {

    html{
        font-size: 50%;
    }
    #message-box{
        width: 35vw;
        height: 55vh;
    }   
    #activeUsers{
        width: 20%;
        height: 50%;
    }
    #message{
        width: 30vw;
    }

    @media only screen and (max-height:600px) {

        #message-box{
            width: 30vw;
            height: 55vh;
        }   
        #activeUsers{
            width: 15%;
            height: 50%;
        }
        #message{
            width: 20vw;
        }
    }
}


@media only screen and (max-width:850px) {
    
    .container{
        flex-direction: column;
    }
    #message-box{
        width: 50vw;
        height: 35vh;
    }   
    #activeUsers{
        width: 30%;
        height: 25%;
        margin-bottom: 5rem;
    }
    #message{
        width: 40vw;
    }


    @media only screen and (max-width:600px) {
        
        html{
            font-size: 40%;
        }
        #message-box{
            width: 60vw;
        }   
    }

    @media only screen and (max-width:400px) {

        html{
            font-size: 30%;
        }
        #message-box{
            width: 60vw;
            height: 25vh;
        }   
        #activeUsers{
            width: 45%;
            height: 20%;
        }
        .chat-message{
            width: 50%;
        }
    }
}
